/*
Variable
=========================== */
/*
Stylesheet
=========================== */

@import url("datepicker.css");
@import url("select2.css");
/*
Typography
=========================== */

body {
    font-family: "Calibri", serif;
    font-size: 14px;
    line-height: 24px;
    color: #5b5c5e;
    letter-spacing: 0.5px;
}
a {
    outline: 0;
    color: #00cc00;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
a:focus,
a:hover {
    color: #00cc00;
    outline: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Calibri", serif;
    color: #5b5c5e;
    margin: 0 0 15px 0;
}
h1 {
    font-size: 48px;
    line-height: 52px;
}
h2 {
    font-size: 36px;
    line-height: 48px;
}
h3 {
    font-size: 30px;
    line-height: 36px;
}
h4 {
    font-size: 24px;
    line-height: 30px;
}
h5 {
    font-size: 18px;
    line-height: 24px;
}
h6 {
    font-size: 14px;
    line-height: 18px;
}
.inline-block {
    display: inline-block !important;
}
.img-center {
    display: block;
    margin: auto;
}
.cursor-pointer {
    cursor: pointer;
}
/*
Form Control
=========================== */

.form-control {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    border: solid 1px #dadbdc;
    height: 40px;
}
.form-control:focus {
    box-shadow: none;
    border: solid 1px #00cc00;
}
input[readonly] {
    background-color: #fff !important;
}
select:invalid {
    color: red;
}
.form-control.calendar {
    background-image: url(../../image/online/calendar.png);
    -moz-background-size: 15px;
    -webkit-background-size: 15px;
    -o-background-size: 15px;
    background-size: 15px;
    background-position: center right 10px;
    background-repeat: no-repeat;
}
select.form-control {
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-image: url(../../image/online/chevron.png);
    -moz-background-size: 18px;
    -webkit-background-size: 18px;
    -o-background-size: 18px;
    background-size: 18px;
    background-position: center right 10px;
    background-repeat: no-repeat;
}
/*
Button
=========================== */

.btn {
    padding: 5px 50px;
    -webkit-border-radius: 5px;
    border-radius: 10px;
    outline: 0 !important;
    font-size: 16px;
    letter-spacing: 0.5px;
}
.btn.btn-sm {
    padding: 3px 25px;
    font-size: 13px;
}
.btn.btn-lg {
    font-size: 18px;
}
.btn.btn-danger:hover,
.btn.btn-danger:focus {
    color: #fff !important;
}
.btn.btn-primary {
    background-color: #00cc00;
    border: solid 1px #e4a638;
    color: #fff !important;
}
.btn.btn-primary:focus,
.btn.btn-primary:hover {
    color: #fff !important;
    outline: 0 !important;
    background-color: #e4a638 !important;
    border: solid 1px #e4a638 !important;
}
/*
Navigation Step
=========================== */

.navigation-step {
    display: block;
    margin-top: 50px;
}
.navigation-step .next a {
    background-color: #00cc00;
    border: solid 1px #e4a638;
    color: #fff;
    padding: 5px 30px;
    font-size: 18px;
}
.navigation-step .next a:focus,
.navigation-step .next a:hover {
    color: #fff;
    background-color: #e4a638 !important;
    border: solid 1px #e4a638 !important;
}
.navigation-step .previous a {
    background-color: transparent;
    border: 0;
    color: #5b5c5e;
    font-size: 18px;
    padding: 5px 30px;
}
/*
Modal
=========================== */

.modal {
    text-align: center;
    padding: 0 !important;
}
.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}
.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
.modal-content {
    padding: 25px 30px;
}
/*
General
=========================== */

.header-page {
    background: #000;
    padding: 15px 0;
}
.header-page a.logo {
    width: 170px;
    display: inline-block;
}
.header-page a.logo img {
    width: 100%;
}
.header-page .title {
    font-weight: normal;
    text-transform: none;
    color: #fff;
    display: inline-block;
    position: relative;
    margin-left: 30px;
    top: 7px;
}
.section {
    padding: 50px 0;
}
.section-middel {
    display: table;
    width: 100%;
}
.section-middel .content {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 30px 15px;
}
.section-middel .content img {
    width: 100px;
}
.form-title {
    border: 0;
    margin-bottom: 30px;
}
.form-title .input-group-addon {
    background: none;
    border: 0;
    font-size: 20px;
}
.col-left {
    padding-right: 40px;
}
.col-right {
    padding-left: 40px;
}
.title-line {
    padding-bottom: 15px;
    border-bottom: solid 3px #d3d5d6;
    margin-bottom: 30px;
}
[class*="col-"] {
    position: relative;
}
.loading {
    text-align: center;
    font-size: 18px;
    padding: 100px 0;
}

.container-seat{
    position: relative;
}
.loading.select-seat{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background: #fff;
}
/*
Form Style
=========================== */

.form-book {
    border: solid 1px #dfdfdf;
    padding: 35px 40px;
    border-bottom: solid 5px #00cc00;
}
.form-horizontal {
    padding: 0;
}
.form-group [class*="col-"] {
    text-align: left;
}
.form-group .text-right {
    text-align: right;
}
/*
Table Result
=========================== */

.table-result {
    width: 100%;
    margin-bottom: 20px;
}
.table-result tr th {
    background: #fccd81;
    padding: 10px 20px;
    border: solid 1px #cacbcb;
}
.table-result tr td {
    padding: 10px 20px;
    border: solid 1px #cacbcb;
}
.table-result tr td[data-title="tujuan"] {
    width: 200px;
}

/*
Book Detail
=========================== */
.box-detail{
    padding: 45px 50px;
    border: solid 1px #ccc;
    font-size: 16px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
    margin-bottom: 50px;
}

.order-id{
    border-bottom: dotted 2px #ccc;
    padding: 0 0 15px 0;
    font-size: 18px;
}

.col-detail{
    border-bottom: dotted 2px #ccc;
    padding: 20px 0;
}

.col-detail:last-child{
    padding-bottom: 0;
    border-bottom: 0;
}

.col-detail .table-responsive{
    border: solid 1px #dfdfdf;
    background-color: #fff;
    padding: 10px 15px;
}

.col-detail .table{
    margin-bottom: 0;
}

.col-detail .table td,
.col-detail .table tr{
    border: 0;
}

.box-detail.error{
    border: solid 2px #ff4242;
    background-color: #fff4f4;
}

.pay span{
    font-size: 36px;
    color: #e4a638;
    font-weight: bold;
}

.wrap-payment{
    padding: 0 30px 25px;
}

@media(max-width:676px){
    .box-detail{
        padding: 25px 30px;
    }

    .col-detail .from{
        margin-bottom: 30px;
    }
}

/*
Datepicker
=========================== */

.datepicker {
    z-index: 9999;
    -moz-box-shadow: 0px 2px 3px #eee;
    -webkit-box-shadow: 0px 2px 3px #eee;
    -o-box-shadow: 0px 2px 3px #eee;
    box-shadow: 0px 2px 3px #eee;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    padding: 15px;
}
.datepicker table td {
    border: solid 1px #efefef;
}
.datepicker table td.active {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
}
.datepicker .active {
    background: #00cc00 !important;
    border: solid 1px #00cc00;
}
/*
List Time
=========================== */

.wrap-list-time {
    display: table;
    margin: 35px auto 0;
}
ul.list-time {
    padding: 0;
    margin: 0 auto;
    list-style: none;
    display: inline-block;
}
ul.list-time li {
    float: left;
    display: block;
    margin: 0 6px 6px 6px;
}
ul.list-time li a {
    padding: 10px 20px;
    display: block;
    background: #808285;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    text-decoration: none !important;
}
ul.list-time li a:hover {
    background: #00cc00;
}
ul.list-time li.active a {
    background: #31c336;
}
ul.list-time li.full a {
    background: #e84f35;
    cursor: default;
}
ul.list-time li.disabled {
    opacity: 0.5;
    filter: alpha(opacity=50);
}
ul.list-time li.disabled a {
    cursor: default;
}
ul.list-time li.disabled a:hover {
    background: #808285;
}

/*
Desc Method
=========================== */
.desc-method{
    margin-top: 10px;
}

/*
Pilih Kursi
=========================== */

.alert-jumlah {
    display: none;
    margin: 0;
}
.close-jumlah {
    outline: 0;
}
.scalize {
    transform-origin: top left;
    position: relative;
    overflow: hidden;
    display: table;
    margin: 40px auto 40px;
}
.scalize.disable {
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.scalize img {
    width: 100%;
}
.scalize .item-point {
    display: none;
    position: absolute;
    padding: 1% 3%;
    margin: 1%;
    background: #808285;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    font-size: 100%;
    text-align: center;
    padding-top: 7px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.scalize .item-point.full {
    background-color: #e84f35;
}
.scalize .item-point.full:hover {
    background-color: #e84f35;
    cursor: default;
}
.scalize .item-point.select {
    background-color: #13a438;
}
.scalize .item-point.select:hover {
    background-color: #13a438;
}
.scalize .item-point:hover {
    background-color: #00cc00;
    cursor: pointer;
}
@media (max-width: 480px) {
    .scalize .item-point {
        font-size: 24px;
        font-size: 100%;
        margin: -1% 1%;
    }
}
.wrap-status-kursi {
    display: table;
    margin: 20px auto 0;
}
ul.status-kursi {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-block;
}
ul.status-kursi li {
    float: left;
    display: block;
    margin: 0 12px;
    position: relative;
}
ul.status-kursi li span {
    display: block;
    width: 16px;
    height: 16px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background-color: #808285;
    float: left;
    margin-right: 5px;
    position: relative;
    top: 3px;
}
ul.status-kursi li span.penuh {
    background: #e84f35;
}
/*
Payment
=========================== */

ul.result {
    padding: 25px 30px;
    margin: 0;
    list-style: none;
    display: block;
    border: solid 1px #dfdfdf;
    -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
}
ul.result li {
    display: block;
    font-size: 18px;
}
.table-payment {
    font-size: 18px;
    width: 100%;
    margin-top: 25px;
}
.table-payment.total {
    font-size: 24px;
    color: #00cc00;
    margin-top: -10px;
    font-weight: 600;
}
.accordion-payment {
    display: block;
    position: relative;
}
.accordion-payment .item-payment {
    display: block;
    position: relative;
    margin-bottom: 8px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.accordion-payment .item-payment .link {
    display: block;
    position: relative;
    font-size: 22px;
    color: #5b5c5e;
    border: solid 2px #efefef;
    padding: 15px 20px;
    text-decoration: none;
}
.accordion-payment .item-payment .link img {
    float: right;
    position: relative;
    top: 0px;
    width: 100px;
}
.accordion-payment .item-payment .link:before {
    content: "";
    display: block;
    position: relative;
    float: left;
    width: 16px;
    height: 16px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #e2e2e2;
    border: solid 1px #a1a3a6;
    top: 5px;
    margin-right: 20px;
}
.accordion-payment .item-payment .link:after {
    content: "";
    display: none;
    position: relative;
    float: left;
    width: 8px;
    height: 8px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #676767;
    border: solid 1px #464646;
    top: 5px;
    margin-right: 20px;
    position: absolute;
    left: 24px;
    top: 24px;
}
.accordion-payment .item-payment.active .link:after {
    display: block;
}
.accordion-payment .item-payment .content {
    margin-top: 8px;
    padding: 13px 0 13px 20px;
    border-left: solid 3px #00cc00;
}
.accordion-payment .item-payment .content.no-border {
    border: 0;
    padding-left: 0;
    padding-right: 0;
}
.less {
    position: absolute;
    left: 15px;
    font-size: 24px;
    top: 6px;
    left: 100%;
    margin-left: -4px;
}
label.error {
    color: red;
    font-weight: normal;
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 0px;
}
label.error.valid {
    display: none;
    margin-top: 0;
    position: absolute;
}
label.error-chaptcha,
label.error-phone,
label.error-password,
label.error-otp,
label.rute-error {
    color: red;
    display: none;
    font-weight: normal;
}
.book-error,
.alert-register,
.empty-booking,
.success-password {
    display: none;
}
/*
Clear spacer
=========================== */

.margin-clear {
    margin: 0 !important;
}
.padding-clear {
    padding: 0 !important;
}
.margintop-clear {
    margin-top: 0 !important;
}
.paddingtop-clear {
    padding-top: 0 !important;
}
.marginbot-clear {
    margin-bottom: 0 !important;
}
.paddingbot-clear {
    padding-bottom: 0 !important;
}
.marginleft-clear {
    margin-left: 0 !important;
}
.paddingleft-clear {
    padding-left: 0 !important;
}
.marginright-clear {
    margin-right: 0 !important;
}
.paddingright-clear {
    padding-right: 0 !important;
}
.padding-top40 {
    padding-top: 40px !important;
}
.padding-topt60 {
    padding-top: 60px !important;
}
.padding-bot30 {
    padding-bottom: 30px !important;
}
.padding-bot40 {
    padding-bottom: 40px !important;
}
.padding-bot50 {
    padding-bottom: 50px !important;
}
.padding-bot60 {
    padding-bottom: 60px !important;
}
.padding-bot70 {
    padding-bottom: 70px !important;
}
.margin-mintop10 {
    margin-top: -10px !important;
}
.margin-mintop20 {
    margin-top: -20px !important;
}
.margin-mintop30 {
    margin-top: -30px !important;
}
.margin-mintop60 {
    margin-top: -60px !important;
}
.margin-mintop110 {
    margin-top: -110px !important;
}
.margin-minbot10 {
    margin-bottom: -10px !important;
}
.margin-minbot20 {
    margin-bottom: -20px !important;
}
.margin-minbot30 {
    margin-bottom: -30px !important;
}
.margin-minbot60 {
    margin-bottom: -60px !important;
}
/*
Custom left right spacer
=========================== */

.margin-left10 {
    margin-left: 10px !important;
}
.margin-right10 {
    margin-right: 10px !important;
}
.margin-left20 {
    margin-left: 20px !important;
}
.margin-right20 {
    margin-right: 20px !important;
}
/*
Custom top spacer
=========================== */

.margintop5 {
    margin-top: 5px !important;
}
.margintop10 {
    margin-top: 10px !important;
}
.margintop15 {
    margin-top: 15px !important;
}
.margintop20 {
    margin-top: 20px !important;
}
.margintop25 {
    margin-top: 25px !important;
}
.margintop30 {
    margin-top: 30px !important;
}
.margintop35 {
    margin-top: 35px !important;
}
.margintop40 {
    margin-top: 40px !important;
}
.margintop45 {
    margin-top: 45px !important;
}
.margintop50 {
    margin-top: 50px !important;
}
.margintop55 {
    margin-top: 55px !important;
}
.margintop60 {
    margin-top: 60px !important;
}
.margintop80 {
    margin-top: 80px !important;
}
/*
Custom bottom spacer
=========================== */
.marginbot0 {
    margin-bottom: 0 !important;
}
.marginbot5 {
    margin-bottom: 5px !important;
}
.marginbot10 {
    margin-bottom: 10px !important;
}
.marginbot15 {
    margin-bottom: 15px !important;
}
.marginbot20 {
    margin-bottom: 20px !important;
}
.marginbot25 {
    margin-bottom: 25px !important;
}
.marginbot30 {
    margin-bottom: 30px !important;
}
.marginbot35 {
    margin-bottom: 35px !important;
}
.marginbot40 {
    margin-bottom: 40px !important;
}
.marginbot45 {
    margin-bottom: 45px !important;
}
.marginbot50 {
    margin-bottom: 50px !important;
}
.marginbot55 {
    margin-bottom: 55px !important;
}
.marginbot60 {
    margin-bottom: 60px !important;
}
.marginbot80 {
    margin-bottom: 80px !important;
}
/*
Media
=========================== */

@media (max-width: 1024px) {
    .col-left {
        padding-right: 20px;
    }
    .col-right {
        padding-left: 20px;
    }
}
@media (max-width: 920px) {
    .col-left {
        padding-right: 15px;
    }
    .col-right {
        padding-left: 15px;
    }
    .form-book {
        margin-bottom: 60px;
    }
    #formPayment {
        margin-bottom: 30px;
        display: block;
    }
}
@media (max-width: 670px) {
    .col-left {
        padding-right: 15px;
    }
    .col-right {
        padding-left: 15px;
    }
    table.table-result,
    table.table-result thead,
    table.table-result tbody,
    table.table-result td,
    table.table-result tr {
        display: block;
    }
    table.table-result th {
        display: none;
    }
    table.table-result tr {
        margin-bottom: 15px;
    }
    table.table-result td {
        border: solid 1px #cacbcb;
        margin-bottom: -1px;
        position: relative;
        padding-left: 150px;
        position: relative;
    }
    table.table-result tr td[data-title="tujuan"] {
        width: 100%;
    }
    table.table-result td:before {
        /* Now like a table header */

        position: absolute;
        top: 0;
        left: 0;
        width: 130px;
        height: 100%;
        padding-right: 10px;
        white-space: nowrap;
        background: #fccd81;
        content: attr(data-title);
        padding: 10px 20px;
    }
    .form-title {
        display: block;
        width: 100%;
    }
    .form-title .input-group-addon {
        display: block;
        margin-bottom: 15px;
    }
    .header-page a.logo {
        width: 100px;
    }
    .header-page .title {
        font-size: 18px;
        margin-left: 15px;
    }
    .section-middel .content img {
        width: 70px;
    }
}

.no-border{
    border: 0 !important;
}